
.logo{
  max-width:100%;
  max-height:100%;
  float: left;
}



.header{
    width: 100%;
    height: 80px;
    position: relative;
    background-color: white;    
}

.title{
    float:right;
    margin-right: 30px;
    margin-top: 40px;
}



/* 
form styles
*/


.form_image{
    width:100%;
    position: relative
    z-index: -1;
}

.form{
    width: 100%;
    position: relative;
}

.form .habits_checks{
  position: absolute;
  top: 30%;
  left: 5%;
  bottom:0;
  right: 0;
  width: 30%;
  height: 14%;
  z-index: 900;
  text-align: left;
}

.form .sleep_checks{
  position: absolute;
  top: 30%;
  left: 28%;
  bottom:0;
  right: 0;
  width: 30%;
  height: 14%;
  z-index: 900;
  text-align: left;
}

.form .exercise_checks{
  position: absolute;
  top: 30%;
  left: 51%;
  bottom:0;
  right: 0;
  width: 30%;
  height: 14%;
  z-index: 900;
  text-align: left;
}

.form .ergonomics_checks{
  position: absolute;
  top: 30%;
  left: 71%;
  bottom:0;
  right: 0;
  width: 30%;
  height: 14%;
  z-index: 900;
  text-align: left;
}

.form .other_checks{
  position: absolute;
  top: 56%;
  left: 3.4%;
  bottom:0;
  right: 0;
  width: 33%;
  height: 14%;
  z-index: 900;
  text-align: left;
}

.form .diagnosis_checks{
  position: absolute;
  top: 58%;
  left: 72.5%;
  bottom:0;
  right: 0;
  width: 28.5%;
  height: 14%;
  z-index: 900;
  text-align: left;
}


/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1%;
  cursor: pointer;
  font-size: 1.9vw ;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20%;
}



/* 
position textboxes
*/

.textbox_name{
  width: 50%;
  border: none;
  border-bottom: 2px solid;
  font-size: 1.7vw;
}

.textbox_treatment{
  width: 70%;
  border: none;
  border-bottom: 2px solid;
  font-size: 1.9vw; 
   background-color: rgba(255, 255, 255, .1);
}

.form .t1{
  position: absolute;
  top: 5.8%;
  left: 70.3%;
  height: 14%;
  z-index: 997;
  width: 30%
}

.form .t2{
  position: absolute;
  top: 8.0%;
  left: 75%;
  height: 14%;
  z-index: 996;
}

.form .t3{
  position: absolute;
  top: 10.2%;
  left: 75%;
  height: 14%;
  z-index: 995;
}

.form .t4{
  position: absolute;
  top: 40.8%;
  left: 3.4%;
  height: 10%;
  z-index: 994;
}

.form .t5{
  position: absolute;
  top: 43.6%;
  left: 3.4%;
  height: 10%;
  z-index: 993;
}

.form .t6{
  position: absolute;
  top: 40.8%;
  left: 27.4%;
  height: 10%;
  z-index: 994;
}

.form .t7{
  position: absolute;
  top: 43.6%;
  left: 27.4%;
  height: 10%;
  z-index: 992;
}


.form .t8{
  position: absolute;
  top: 40.8%;
  left: 50.4%;
  height: 10%;
  z-index: 991;
}

.form .t9{
  position: absolute;
  top: 43.6%;
  left: 50.4%;
  height: 10%;
  z-index: 993;
}

.form .t10{
  position: absolute;
  top: 40.8%;
  left: 75.4%;
  height: 10%;
  z-index: 991;
}

.form .t11{
  position: absolute;
  top: 43.6%;
  left: 75.4%;
  height: 10%;
  z-index: 991;
}

.form .t12{
  position: absolute;
  top: 80.8%;
  left: 3.4%;
  height: 10%;
  z-index: 994;
}

.form .t13{
  position: absolute;
  top: 83.6%;
  left: 3.4%;
  height: 10%;
  z-index: 993;
}



/* 
checkboxe styles
*/

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;    
  font-family: arial;
  top: 0;
  left: 0;
  height: 90%;
  width: 7%;
  background-color: #29c4c4;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #3bf5eb;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 25%;
  top: 10%;
  width: 35%;
  height: 65%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
